<div class="modal" appCloseOnEsc (closeOnEsc)="onShopingCartClose()" (click)="onShopingCartClose()">
  <div clickStopPropagation class="container-lg slide-in-top">
    <div class="shoping-cart">
      <div class="shoping-cart__header">
        <div class="shoping-cart__title">
          {{shoping.title}}
          <img class="shoping-cart__icon" src="{{shoping.icon}}" alt="close" (click)="onShopingCartClose()">
        </div>
        <div class="devider"></div>
      </div>
      
      @if(cart$ | async; as cart ){
      @if (cart.items.length > 0){
      <ul class="product-list">
        @for(cartItem of cart.items; track cartItem.product.key){
        <li class="product__item">
          <app-cart-product-item 
              [cartItem]="cartItem"
              [removeBtn]="true"
              (removeProduct)="onProductRemove($event)">
            <img class="product__preview" src="{{cartItem.product.img}}" alt="product">
            <app-quantity 
              [quantity]="cartItem.quantity" 
              (quantityChange)="updateProductQuantity($event, cartItem)">
            </app-quantity>
          </app-cart-product-item>
        </li>}
      </ul>} @else {
      <div class="no-product">
        Your cart is empty!
      </div>}}

      <div class="shoping-cart__footer">
        @if((totalPrice$ | async)! !== 0){
        <div class="devider"></div>
        <div class="total">
          <span class="total__title">{{shoping.total}}</span>
          <span class="total__price">{{totalPrice$ | async | currency}}</span>
        </div>}
        <div class="devider"></div>
        <div class="nav">
          @for(nav of shoping.nav; track nav.link){
          <a routerLink="{{nav.link}}">
            <app-button
              routerLink="{{nav.link}}"
              [title]="nav.title"
              [classList]="['btn__secondary']"
              (buttonClick)="onShopingCartClose()">
            </app-button>
          </a>}
        </div>
      </div>
    </div>
  </div>
</div>