<div class="modal" (click)="onShopingCartClose()">
  <div clickStopPropagation class="container-lg">
    <div class="shoping-cart">
      <div class="shoping-cart__header">
        <div class="shoping-cart__title">
          {{shoping.title}}
          <img class="shoping-cart__icon" src="{{shoping.icon}}" alt="close" (click)="onShopingCartClose()">
        </div>
        <div class="devider"></div>
      </div>
      
      @if(cart$ | async; as cart){
      @if (cart.items.length > 0){
      <div class="product">
        @for(product of cart.items; track product.product.key){
        <div class="product__item">
          <img class="product__preview" src="{{product.product.img}}" alt="product">
          <div class="product__contetn">
            <div class="product__title">{{product.product.title}}</div>
            <div class="product__number">
              <div class="product__quantity">{{product.quantity}}</div>
              <div class="product__multiply">x</div>
              <div class="product__price">
                {{product.product.price | discount: product.product.discount | currency}}
              </div>
            </div>
          </div>
          <app-button 
            (buttonClick)="onProductRemove(product.product)">
            <img src="../../../../assets/images/icons/remove-icon.svg" alt="remove product">
          </app-button>
        </div>}
      </div>} @else {
      <div class="no-product">
        Your cart is empty!
      </div>}}

      <div class="shoping-cart__footer">
        @if((totalPrice$ | async)! !== 0){
        <div class="devider"></div>
        <div class="total">
          <span class="total__title">{{shoping.total}}</span>
          <span class="total__price">{{totalPrice$ | async | currency}}</span>
        </div>}
        <div class="devider"></div>
        <div class="nav">
          @for(nav of shoping.nav; track nav.link){
          <a routerLink="{{nav.link}}">
            <app-button
              routerLink="{{nav.link}}"
              [title]="nav.title"
              [classList]="['btn__secondary']"
              (buttonClick)="onShopingCartClose()">
            </app-button>
          </a>}
        </div>
      </div>
    </div>
  </div>
</div>