@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap");

.container-lg {
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-products {
  max-width: 1236px;
  padding: 0 30px;
  margin: 0 auto;
}
