@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px 30px 54px;
  color: $link-color;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__logo__img {
    width: 50px;
    height: 32px;
    margin-right: 5px;
  }

  &__title {
    @include Montserrat-Bold;
    font-size: 34px;
  }

  .nav {
    &__list {
      display: flex;
      gap: 74px;
    }

    &__item {
      font-family: $font-hind;
      font-size: 20px;
      font-weight: 400;
    }

    .active {
      font-weight: 600;
    }
  }

  .btn {
    &__group {
      display: flex;
      gap: 45px;
    }

    &__item {
      .icon {
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
    }
  }
}