<header class="container-lg">
  <div class="header">
    <a routerLink="home" class="header__logo">
      <img class="header__logo__img" src="{{header.logo}}" alt="logo">
      <p class="header__title">{{header.title}}</p>
    </a>
    <button type="button" class="btn-menu" *ngIf="!mobileMenu else mobile" (click)="onMenuOpen()">
      <img src="{{header.menuIcon}}" alt="{{header.menuIconAlt}}">
    </button>
    <ng-template #mobile>
      <button type="button" class="btn-menu close" (click)="onMenuOpen()">
        <img src="{{header.closeMenu}}" alt="{{header.closeMenuAlt}}">
      </button>
    </ng-template>
    <nav class="nav" [ngClass]="{'menu-open': mobileMenu}">
      <ul class="nav__list">
        <li *ngFor="let nav of header.nav">
          <a class="nav__item" routerLinkActive="active" routerLink="{{nav.link}}" (click)="onMenuOpen()">
            {{nav.title}}
          </a>
        </li>
      </ul>
    </nav>
    <ul class="btn__group">
      <li class="btn__item">
        <img class="icon" src="{{header.searchIcon}}" alt="icon">
      </li>
      <li class="btn__item">
        <img class="icon" src="{{header.likeIcon}}" alt="icon">
      </li>
      <li class="btn__item">
        <img class="icon" src="{{header.shopingIcon}}" alt="icon" (click)="openShopingCart()">
      </li>
    </ul>
  </div>
  <app-shoping-cart *ngIf="isOpen" [isOpen]="isOpen" (isClose)="onClose($event)"></app-shoping-cart>
</header>