<div class="header">
  <a routerLink="home" class="header__logo">
    <img class="header__logo__img" src="{{header.logo}}" alt="logo">
    <p class="header__title">{{header.title}}</p>
  </a>

  @if(!mobileMenu){
  <button type="button" class="btn-menu" (click)="onMenuOpen()">
    <img src="{{header.menuIcon}}" alt="{{header.menuIconAlt}}">
  </button>} @else{
  <button type="button" class="btn-menu close" (click)="onMenuOpen()">
    <img src="{{header.closeMenu}}" alt="{{header.closeMenuAlt}}">
  </button>}

  <nav class="nav" [ngClass]="{'menu-open': mobileMenu}">
    <ul class="nav__list">
      @for(nav of header.nav; track nav.link){
      <li><a class="nav__item" routerLinkActive="active" routerLink="{{nav.link}}" (click)="onMenuOpen()">
          {{nav.title}}
        </a></li>}
    </ul>
  </nav>

  <div class="btn__group">
    <app-button [classList]="['btn__header-icon']">
      <img class="icon" src="{{header.searchIcon}}" alt="icon">
    </app-button>
    <app-button [classList]="['btn__header-icon']">
      <img class="icon" src="{{header.likeIcon}}" alt="icon">
    </app-button>
    <app-button [classList]="['btn__header-icon']">
      <img class="icon" src="{{header.shopingIcon}}" alt="icon" (click)="openShopingCart()">
    </app-button>
  </div>
</div>
@if (isOpen){
<app-shoping-cart (isClose)="onClose($event)"></app-shoping-cart>}