<div class="container-lg ">
  <app-breadcrumb></app-breadcrumb>
  <div class="contact container-contact">
    <div class="contact__head">
      <h2 class="contact__title">{{contact.title}}</h2>
      <p class="contact__text">{{contact.text}}</p>
    </div>
    <div class="content">
      <div class="info">
        <div class="info__item" *ngFor="let info of contact.info">
          <img class="info__icon" src="{{info.icon}}" alt="icon">
          <h3 class="info__title">{{info.title}}</h3>
          <p class="info__text">{{info.text}}</p>
        </div>
      </div>
      <form class="form" action="">
        <div class="form__item">
          <label class="label" for="userName">{{contact.form.name}}</label>
          <input type="text" name="userName" placeholder="{{contact.form.namePlaseholder}}">
        </div>
        <div class="form__item">
          <label class="label" for="userName">{{contact.form.email}}</label>
          <input type="emal" name="userName" placeholder="{{contact.form.emailPlaseholder}}">
        </div>
        <div class="form__item">
          <label class="label" for="userName">{{contact.form.about}}</label>
          <input type="text" name="userName" placeholder="{{contact.form.aboutPlaseholder}}">
        </div>
        <div class="form__item">
          <label class="label" for="userName">{{contact.form.message}}</label>
          <input class="message" type="text" name="userName" placeholder="{{contact.form.messagePlaseholder}}">
        </div>
        <div class="form__btn">
          <button type="submit">{{contact.form.btnTitle}}</button>
        </div>
      </form>
    </div>
  </div>
  <app-benefits [benefits]="benefits"></app-benefits>
</div>