@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.contact {
  padding-top: 100px;
  color: $link-color;

  &__head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  &__title {
    @include p-semiBold;
    font-size: 36px;
  }

  &__text {
    max-width: 644px;
    color: $light-text;
    @include p-regular;
    font-size: 16px;
  }
}

.form {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 100px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: $link-color;
    @include p-medium;
    font-size: 16px;

    &:nth-child(4) input {
      height: 120px;
    }
  }

  &__btn {
    padding: 14px 66px;
    border-radius: 5px;
    background: $btn-title;
    color: $white;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    font-family: $font-hind;
    max-width: 236px;
    text-align: center;
  }

  input {
    width: 528px;
    min-width: 300px;
    height: 75px;
    padding-left: 30px;

    border-radius: 10px;
    border: 1px solid $light-grey;
    background: $white;
  }

  label {
    font-family: $font-fira;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
  }
}

.info {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  background: linear-gradient(180deg, rgba(250, 243, 234, 0.00) 31.35%, rgba(250, 243, 234, 0.86) 100%);

  &__item {
    margin-bottom: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 30px minmax(257px, 257px));
    column-gap: 22px;
  }

  &__item:nth-child(2)>&__text {
    max-width: 212px;
  }

  &__icon {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 30px;
    height: 30px;
  }

  &__title {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    font-size: 32px;
    font-family: $font-hind;
    font-weight: 600;
  }

  &__text {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: $font-fira;
  }
}