//fonts
@mixin p-bold {
  font-family: $font-main;
  font-weight: 700;
}

@mixin p-semiBold {
  font-family: $font-main;
  font-weight: 600;
}

@mixin p-medium {
  font-family: $font-main;
  font-weight: 500;
}

@mixin p-regular {
  font-family: $font-main;
  font-weight: 400;
}

@mixin p-light {
  font-family: $font-main;
  font-weight: 300;
}

@mixin Montserrat-Bold {
  font-family: $font-logo;
  font-weight: 500;
}

// container
@mixin default-m-p {
  margin: 0 auto;
}
