// fonts
$font-main: "Poppins", sans-serif;
$font-logo: "Montserrat", sans-serif;

// colors
$link-color: #000;
$text-main: #333;
$white: #FFF;
$light-text: #9f9f9f;

$banner-box-bg: #FFF3E3;
$primary: #B88E2F;

$devider: #D9D9D9;
$underline: #555;

$card-bg: #F4F5F7;
$card-title: #3a3a3a;
$card-tool-bg: rgb(58, 58, 58, 0.7);
$card-type: #898989;
$card-price: #3a3a3a;

$btn-title: #b88e2f;