<div class="container-lg ">
  <app-breadcrumb></app-breadcrumb>
  <!-- <button (click)="addBlogs()">add blogs</button> -->
</div>
<div class="container-blog">
  <section class="blog-page">
    <div class="blog">
      @for(post of blogArray$ | async; track post){
      <div class="blog__item">
        @defer{
        <app-blog-card [post]="post" [icon]="blog.postsIcons"></app-blog-card>
        } @loading (minimum 1s) {
        <app-spinner></app-spinner>
        }
      </div>
      }
    </div>
    <div class="sidebar">
      <div class="filters">
        <div class="search">
          <input type="text">
          <img src="{{blog.searchIcon}}" alt="search">
        </div>
        <div class="categories">
          {{blog.filterTitle}}
          <div class="categories__list">
            @for (category of blog.categories; track $index) {
            <div class="categories__item">
              <p class="category__title">{{category.title}}</p>
              <p class="category__number">{{category.number}}</p>
            </div>}
          </div>
        </div>
      </div>
      <div class="resent">
        <div class="resent__title">
          {{blog.resentPostsTitle}}
        </div>
        <div class="resent__posts">
          @for (post of blog.resentPosts; track $index) {
          <div class="post">
            <img class="post__preview" src="{{post.img}}" alt="preview">
            <div class="post__content">
              <h4 class="post__title">
                {{post.title}}
              </h4>
              <p class="post__time">
                {{post.time}}
              </p>
            </div>
          </div>}
        </div>
      </div>
    </div>

  </section>
  <div class="pagination">
    <div class="pagination__btn-group">
      <button class="btn-pagination">1</button>
      <button class="btn-pagination">Next</button>
    </div>
  </div>
</div>