@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.cart-page {
  &__tool {
    height: 70px;
    background-color: #f9f1e7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__checkbox {
      position: relative;
      width: 10%;
      min-width: 18px;
    }

    &__checkbox::after {
      position: absolute;
      content: "Select All";
      font-weight: bold;
      top: 2px;
      right: -5.5em;
    }

    &__remove-btn {
      width: 20%;
    }

  }

  &__product-item {}


  .quantity__reduse {}

  .quantity__number {}

  .quantity__add {}


  &__mobile {
    display: none;
  }

  &__tool {
    &__remove-btn {}
  }

  &__product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    gap: 6px;

    &__preview {
      max-width: 140px;
      min-width: 80px;
      border-radius: 10px;
      max-height: 102px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 20%;
      min-width: 170px;
      border-radius: 10px;
      background-color: $shop-filter-bg;
      padding: 0.7em;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        font-family: $font-hind;
        font-size: 16px;
        font-weight: 600;
        min-height: 62px;
      }

      .bottom {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .price {
        background-color: #fff;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        font-family: $font-hind;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 420px) {
  .product-item {
    &__preview {
      max-width: 80px;
    }
  }

}