<div class="cart-page__product-item">
  <div class="checkbox">
    <app-checkbox [remove]="remove" (isClose)="canRemove($event)" (click)="onItemRemove(cartItem)"></app-checkbox>
  </div>
  <img class="cart-page__product-item__preview" src="{{cartItem.product.img}}" alt="product">
  <div class="cart-page__product-item__content">
    <div class="title">
      {{cartItem.product.title}}
    </div>
    <div class="bottom">
      <div class="price">
        {{cartItem.product.price | discount:cartItem.product.discount | currency}}
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>