@if(breadcrumbs$ | async; as breadcrumb){
<div class="breadcrumb" [ngClass]="{'breadcrumb-min': min}">
  @if(!min){
  <img src="../../../assets/images/logo.png" alt="">
  @for(item of breadcrumb; track item; let i = $index){
  <div class="breadcrumb__header">
    @if(i == breadcrumb.length - 1){
    <span>{{item.label}}</span>}
  </div>}}

  <div class="breadcumbs__items" [ngClass]="{'breadcrumb__items-min': min}">
    @for(item of breadcrumb; track item; let i = $index){
    <a [routerLink]="item.url">{{ item.label }}</a>
    @if(i != breadcrumb.length - 1){
    <span> > </span>}
    }
  </div>
</div>}