<div class="list" *ngIf=" comparisonList$ | async let comparisonList">
  <div class="product__item" *ngFor="let product of comparisonList.products">
    <img class="product__preview" src="{{product.item.img}}" alt="product">
    <div class="product__contetn">
      <span class="product__type">type: {{product.item.type}}</span>
      <span class="product__title">{{product.item.title}}</span>
    </div>
    <div class="product__btn-grpup">
      <div class="checkbox-wrapper-1">
        <input id="{{product.item.code}}" [(ngModel)]="product.compare" class="substituted" type="checkbox"
          aria-hidden="true" value="{{product.compare}}" (change)="onCheckCheckBoxChange(product)"
          disabled="{{checkIsDisabled(product.compare)}}" />
        <label for="{{product.item.code}}"></label>
      </div>
      <button class="btn-remove" (click)="onProductRemove(product.item)">remove</button>
    </div>
  </div>
</div>