@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.products {
  margin-top: 80px;

  .products__title {
    margin: 56px 0 36px 0;
    text-align: center;
    color: $card-title;
    @include p-bold;
    font-size: 40px;
    line-height: 120%;
    /* 48px */
  }

  .products__list {
    padding: 80px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 285px);
    gap: 32px;
  }
}

.show-more {
  display: flex;
  justify-content: center;
}