@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.product {
  font-family: $font-fira;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.total-price {
  color: #B88E2F;
  font-size: 24px;
  font-weight: 500;
  font-family: $font-fira;
}

.product {
  &__preview {
    height: 120px;

    img {
      max-height: 100px;
      max-width: 140px;
      border-radius: 10px;
    }
  }
}

table {
  width: 100%;
  height: max-content;
  transition: all .3s ease-in;
}

td {
  text-align: center;
}

.tablet-cell {
  display: none;
}

tr:first-child {
  height: 3.5rem;
  background-color: $shop-filter-bg;
}

tr:first-child>th:first-child,
tr:first-child>th:nth-child(4),
tr:first-child>th:last-child {
  width: 7%;
}

tr:last-child>td {
  border-top: 1px solid $devider;
  padding-top: 1rem;
  margin-top: 1rem;
}

.remove-btn {
  cursor: pointer;
}

.cart-page {
  &__mobile {
    display: none;
  }

  &__tool {
    height: 70px;
    background-color: #f9f1e7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__checkbox {
      position: relative;
      width: 10%;
      min-width: 18px;
    }

    &__checkbox::after {
      position: absolute;
      content: "Select All";
      font-weight: bold;
      top: 2px;
      right: -5.5em;
    }

    app-button {
      margin-right: 10%;
    }
  }

  &__product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    gap: 6px;

    &__preview {
      max-width: 140px;
      min-width: 80px;
      border-radius: 10px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 20%;
      min-width: 170px;
      border-radius: 10px;
      background-color: $shop-filter-bg;
      padding: 0.7em;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        font-family: $font-hind;
        font-size: 16px;
        font-weight: 600;
        min-height: 62px;
      }

      .bottom {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .price {
        background-color: #fff;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        font-family: $font-hind;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        width: 100%;
      }
    }

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f1e7;
    border-radius: 10px;
    height: 80px;
    padding: 0 1rem;

    .total-price {
      background-color: white;
      padding: 1.2rem;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .subtotal {
    display: none;
  }

  .tablet-cell {
    display: block;
  }

  .product {
    font-size: 18px;
    line-height: normal;
  }

  tr:last-child>td {
    border-top: 1px solid $devider;
    padding-top: 1rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  table {
    display: none;
  }

  .cart-page {
    &__mobile {
      display: block;
    }
  }
}

@media screen and (max-width: 420px) {
  .cart-page {
    &__product-item {
      &__preview {
        max-width: 80px;
      }
    }
  }
}

.info {
  display: flex;
  justify-content: center;
}