@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.cart {
  display: block;

  &__header {
    padding: 10px 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 15px;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 120px;
    height: 60px;
    background-color: $shop-filter-bg;
  }

  &__title {}

  .product {
    height: 100px;
    padding: 10px 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 15px;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 120px;



    &__title {}

    &__price {}

    &__quantity {}

    &__subtotal {}


  }

  &__bottom {
    padding: 10px 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 120px;

    .title {}

    .total-prise {}

  }
}

.product__preview {
  width: 80px;
  height: 80px;
}

table {
  width: 100%;
  // padding: 5rem;
}

td {
  text-align: center
}

tr:first-child {
  height: 3.5rem;
  background-color: $shop-filter-bg;
}

tr:last-child>td {
  border-top: 1px solid $devider;
  padding-top: 1rem;
  margin-top: 1rem;
}

.remove-btn {
  cursor: pointer;
}