@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/mixins";

.banner {
  position: relative;
  text-align: center;
  background-image: url("../../../assets/images/banner-bg.png");
  width: 1440px;
  height: 717px;
}

//need add responsive
.box {
  position: absolute;
  top: 193px;
  right: 56px;
  background-color: $banner-box-bg;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 62px 56px 37px 39px;
  border-radius: 10px;
  text-align: start;

  &__head {
    font-family: $font-fira;
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 16px;
  }

  &__title {
    color: $primary;
    font-family: $font-hind;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    /* 125% */
    margin-bottom: 17px;
  }

  &__text {
    font-family: $font-fira;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* 133.333% */
    max-width: 546px;
    margin-bottom: 46px;
  }

  &__btn {}

  .btn-primary {
    padding: 20px 60px;
    background-color: $primary;
    color: $white;
    font-family: $font-hind;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    text-transform: uppercase;
  }
}