<div class="card" (mouseenter)="showMenu=true" (mouseleave)="showMenu=false">
  <img class="card__img" src="{{product.img}}" alt="product">
  <app-discount class="card__state" [state]="state"></app-discount>
  <div class="card__content">
    <div class="card__title">
      {{product.title}}
    </div>
    <div class="card_product-type">
      {{product.type}}
    </div>
    <div class="card__price">
      <div *ngIf="state != 'new' && state != undefined">
        {{-product.price / 100 * (state!) | currency}}
      </div>
      <div [ngClass]="{'card__price__old' : state != 'new' && state != undefined }">
        {{product.price | currency}}
      </div>
    </div>
  </div>
  <div class="card-tool" *ngIf="showMenu">
    <a routerLink="{{url}}">
      <button class="btn btn-view-more" (click)="setProductInLocalStorage()">View more</button>
    </a>
    <button class="btn btn-add" (click)="onCartAdding(product)">Add to cart</button>
    <div class="card-tool__btn-group">
      <div class="btn__share">
        <img class="btn__icon" src="../../../assets/images/icons/share.svg" alt="">
        share
      </div>
      <div class="btn__compare">
        <button (click)="onProductCompare(product)">
          <img class="btn__icon" src="../../../assets/images/icons/compare.svg" alt="">
          compare
        </button>
      </div>
      <div class="btn__like">
        <img class="btn__icon" src="../../../assets/images/icons/favourite.svg" alt="">
        Like
      </div>
    </div>
  </div>
</div>