<div class="card">
  <img class="card__img" src="{{product.img}}" alt="product">
  @if(product.discount || product.state){
  <app-discount class="card__state" [state]="product.state" [discount]="product.discount"></app-discount>
  }
  <div class="card__content">
    <div class="card__title">
      {{product.title}}
    </div>
    <div class="card_product-type">
      {{product.type}}
    </div>
    <div class="card__price">
      @if (product.state != 'new' && product.discount) {
      <span>
        {{product.price / 100 * (product.discount) | currency}}
      </span>}
      <span [ngClass]="{'card__price__old' : product.state != 'new' && product.discount }">
        {{product.price | currency}}
      </span>
    </div>
  </div>
  <div class="card-tool">
    <a [routerLink]="['/shop', product.title.toLowerCase()]">
      <app-button
        [classList]="['btn__product-card']"
        [title]="'View more'">
      </app-button>
    </a>
    <div>
      <app-button 
        [classList]="['btn__product-card']"
        [title]="'Add to cart'"
        (click)="onCartAdding(product)">
      </app-button>
    </div>
    <div class="card-tool__btn-group">
      <app-button
        [title]="'share'">
        <img class="icon" src="../../../assets/images/icons/share.svg" alt="">
      </app-button>
      <app-button 
        [title]="'compare'"
        (click)="onProductCompare(product)">
        <img class="icon" src="../../../assets/images/icons/compare.svg" alt="">
      </app-button>
      <app-button 
        [title]="'Like'">
        <img class="icon" src="../../../assets/images/icons/favourite.svg" alt="">
      </app-button>
    </div>
  </div>
</div>