<footer class="footer">
  <div class="container-lg">
    <div class=" footer__wrapper">
      <div class="footer__title">
        Funiro.
      </div>
      <div class="footer__left">
        <nav class="nav">
          <ul class="nav__list">
            <li *ngFor="let nav of header.nav">
              <a class="nav__item" href="{{nav.link}}">
                {{nav.title}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__right">
        <div class="contacts">
          {{footer.email}}
        </div>
        <div class="subscribe">
          <input type="email">
          <button type="submit" class="btn subscription">{{footer.btnTitle}}</button>
        </div>
        <div class="adress">
          {{footer.adress}}
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="copyright">
        {{footer.copyright}}
      </div>
    </div>
  </div>

</footer>
