@import "../../../assets//style/utils/variables";
@import "../../../assets//style/utils/mixins";

.footer {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    color: $link-color;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
  }

  .nav {
    &__list {
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    &__item {
      font-family: Hind;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
    }
  }

  .subscribe {
    display: flex;
    justify-content: center;
    gap: 2rem;

    font-family: Fira Sans Condensed;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  .adress {
    color: #9F9F9F;
    font-family: Fira Sans Condensed;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__bottom {
    position: relative;
    margin-top: 1.5rem;
    text-align: center;

    .copyright {
      color: $link-color;
      @include p-regular;
      font-size: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      left: 10%;
      width: 80%;
      height: 2px;
      background-color: $devider;
    }
  }
}