<footer class="footer">
  <div class="footer__title">
    Funiro.
  </div>
  @if(!minimize){
  <nav class="nav">
    <ul class="nav__list">
      @for(nav of header.nav; track nav.link){
      <li>
        <a class="nav__item" routerLink="{{nav.link}}">
          {{nav.title}}
        </a>
      </li>}
    </ul>
  </nav>
  <div class="subscribe">
    <input type="email" class="input__footer" placeholder="Enter Your Email Address">
    <app-button 
      [title]="footer.btnTitle"
      [classList]="[' btn__footer-subscribe']">
    </app-button>
  </div>
  <div class="adress">
    {{footer.adress}}
  </div>}
  <div class="footer__bottom">
    <span class="copyright">
      {{footer.copyright}}
    </span>
  </div>
</footer>