@import "../../../../assets/style/utils/variables";
@import "../../../../assets/style/utils/mixins";

.table__head {
  font-size: 28px;
  margin-bottom: 30px;
}

.section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 80px;
  margin-bottom: 80px;
}

.btn-view-more {
  @include p-medium;
  color: $link-color;
  position: relative;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;

  &__preview {
    width: 280px;
    border-radius: 10px;
  }

  &__title {
    font-size: 24px;
  }

  &__code {
    font-size: 18px;
  }

  &__price {
    font-size: 18px;
  }

}

.comparison-tool {
  margin-top: 3rem;
  position: relative;
  font-weight: 600;

  &__title {
    margin-bottom: 14px;
  }

  &__list {
    margin-top: 1.5rem;
    position: absolute;
    background-color: beige;
    border-radius: 10px;
    padding: 1rem;
    z-index: 1000;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 42px;
    color: $white;
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 6px;
    background-color: $primary;
  }
}