<div class="post">
  <div class="post__img">
    <img class="post__img" src="{{post!.img}}" alt="Alt">
  </div>
  <div class="post__info">
    <div class="post__auth">
      <img class="icon" src="{{icon.user}}" alt="user-icon">
      <span>
        {{post!.author}}
      </span>
    </div>
    <div class="post__time">
      <img class="icon" src="{{icon.calendar}}" alt="calendar">
      {{post!.time}}
    </div>
    <div class="post__time">
      <img class="icon" src="{{icon.tag}}" alt="tag">
      {{post!.tag}}
    </div>
  </div>
  <div class="post__content">
    <h3 class="post__title">{{post!.title}}</h3>
    <p class="post__text" [innerHTML]="post!.text"></p>
  </div>
  <div class="post__open">
    <a routerLink="{{url}}">
      <app-button
        [title]="'Read more'"
        [classList]="['btn__read-more']">
      </app-button>
    </a>
  </div>
</div>