<section class="container-product-page">
  @defer {
  <div class="product">
    @if (product$ | async; as product) {
    <img class="product__preview" src="{{product.img}}" alt="product">
    <div class="product__contetn">
      <div class="product__head">
        <div class="product__title">
          {{product.title}}
        </div>
        <div class="product__code">
          Product code: {{product.code}}
        </div>
      </div>
      <p class="product__description">
        {{product.description}}
      </p>
      <div class="product__rate-group">
        <div class="product__rate">
          <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
          <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
          <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
          <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
        </div>
        <div class="devider-vertical"></div>
        <div class="product__review">
          5 Customer Review
        </div>
      </div>
      <div class="product__price">
        {{product.price | currency}}
      </div>
      <div class="product__color">
        <div class="title">Color:</div>
        <div class="product__color__list">
          @for (i of product.colors; track $index) {
          <div class="product__color__item" [style.background-color]="i.c"></div>
          }
        </div>
      </div>
      <div class="btn-group">
        <app-button [classList]="['btn__btn-group']">
          <button class="btn-add-to-cart" (click)="addToCart(product)">Add to Cart</button>
          <div class="devider-vertical"></div>
          <div class="btn-quantity">
            <button class="quantity__reduse" (click)="decrease()">-</button>
            <p class="quantity__number">{{quantity}}</p>
            <button class="quantity__add" (click)="increase()">+</button>
          </div>
        </app-button>
        <app-button 
          [title]="'Compare'"
          [classList]="['btn__compare']"
          (buttonClick)="onProductCompare(product)">
        </app-button>
        <app-button >
          <img src="../../../../assets/images/icons/add-favourite-icon.svg" alt="add favourite">
          <!-- <img src="../../../../assets/images/icons/favourite-on-icon.svg" alt="add favourite"> -->
        </app-button>
      </div>
    </div>}
  </div>

  <div class="tabs-container">
    <div class="index-list">
      <div class="index-list__item" role="tab" (click)="tab=1" (keyup.enter)="tab=1" [ngClass]="{active: tab===1}">
        Description
      </div>
      <div class="index-list__item" role="tab" (click)="tab=2" (keyup.enter)="tab=2" [ngClass]="{active: tab===2}">
        Additional
        Information</div>
      <div class="index-list__item" role="tab" (click)="tab=3" (keyup.enter)="tab=3" [ngClass]="{active: tab===3}">
        Reviews [5]
      </div>
    </div>
    <div class="contents">
      @if (tab === 1) {
      <div class="tab">
        Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar
        as one of
        the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio
        which boasts
        a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs
        allow you to
        fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and
        stylish
        travel.
      </div>} @else if (tab === 2) {
      <div class="tab__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates cumque, minus
        voluptatibus eius numquam rerum rem consequatur magnam aliquid quas iusto expedita dicta et, vel mollitia
        eligendi ex, culpa earum?
      </div>} @else if (tab === 3) {
      <div class="tab__review">
        <div class="tab__review__wrapper">
          <div class="tab__review__title">
            Штанопупка Батьківна
          </div>
          <div class="tab__review__rate product__rate">
            <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
            <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
            <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
            <img src="../../../../assets/images/icons/rate-icon.svg" alt="rate">
          </div>
          <div class="tab__review__commets">
            Файні крісла, срака не болить , рекомендую всім хто хоче і не хоче, то захочіть бо крісла топ купуйте
            обов’язково,
            крісло в кожну хату!!!!!!!!!!!!!
          </div>
        </div>
      </div>}
    </div>
  </div>
  } @loading (minimum 1s){
  <app-spinner></app-spinner>
  }
</section>

<!-- Related Products -->