.checkbox {
  appearance: none;
  width: 26px;
  height: 26px;
  border: 2px solid #b88e2f;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.checkbox:checked {

  &::before {
    content: "";
    position: absolute;
    background: url(../../../../assets/images/icons/checkbox.svg);
    background-size: cover;
    width: 150%;
    height: 150%;
    bottom: -6px;
    right: -24%;
  }
}